<!DOCTYPE html>
<html>
<head>
	<!-- on inclut jQuery via CDN -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>HOME PAGE</title>
</head>
<body>
	<header>
		<nav>
			<img src="/img/logo.png">
			<h1>Mon site de Restaurant</h1>
		</nav>
	</header>

	<center>
		<h2>Son Carousel</h2>
	</center>


	<div class="carousel">
		<button class="previous"><---</button>
			
		<div class="container">
			<div class="img one">
				<img src="/img/pizza.jpg">
			</div>

			<div class="img two">
				<img src="/img/sushi.jpg">
			</div>

			<div class="img tree">
				<img src="/img/plat1.jpg">
			</div>

		</div>

		<button class="next">---></button>
	</div>
		
		<center>
			<div class="circle alignee">
				<button class="btn-circle btn1">.</button>
				<button class="btn-circle btn2">.</button>
				<button class="btn-circle btn3">.</button>
			</div>
		</center>





<!-- ------------------------------------------- -->
<!-- ------------------------------------------- -->
	<center>
		<h2>Sa Tabulation</h2>
	</center>

	<div class="tabulation">
		<div class="alignee">
			<button class="show show1 active">Présentation</button>
			<button class="show show2">Menu</button>
			<button class="show show3">Choix</button>
		</div>
		<div class="txt_tab">
			<div class="target">
				<p>
					INTRODUCING ME<br>
					I'm good at wasting time,<br>
					I think lyrics need to rhyme,<br>
					and you're not asking<br>
					but Im tryna grow a mustache,<br>
					I eat cheese, but only on pizza, please<br>
					and sometimes on a homemade casadea<br>
					Otherwise it smells like feet to me.
				</p>
			</div>
			<div class="target">
				<p>
					Vous ne savez pas quoi cuisiner ce soir, demain, après-demain, voire tous les jours de la semaine ? Fiez-vous à nos menus de saison. Des menus pour tous les jours de la semaine, avec des recettes de saison, simples, originales et toujours délicieuses ! Rdv chaque lundi par un nouveau menu de saison : vous n'avez plus qu'à faire les courses et à vous mettre aux fourneaux ! Merci Marmiton :-) 
				</p>
			</div>
			<div class="target">
				<p>
					Un choix résulte de la décision d'un individu ou d'un groupe confronté à une situation ou à un système offrant une ou plusieurs options. Le terme « choix » pouvant désigner le processus par lequel cette opération est menée à bien et/ou le résultat de ladite opération.
				</p>
			</div>
		</div>
	</div>
</body>
</html>